<!DOCTYPE html>
<html lang="hu" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Rólunk</title>

    <style th:replace="/Shared/cssInclude"></style>
</head>
<body>

<script th:replace="/Shared/jsInclude"></script>

<header><nav th:insert="/Shared/navbar :: header"></nav></header>
<div id="content">
    <h1> Rólunk </h1>
    <p class="display-6">
        A széles filmkínálatnak, az udvarias kiszolgálásnak, a kedvező áraknak és a magas technikai háttérnek köszönhetően a mozi mind a város, mind pedig a vidék egyik legkeresettebb és legközkedveltebb mozijává nőtte ki magát.
        <br>Így ha valaki igazán jól akar szórakozni a Mi mozink a legjobb hely rá!
    </p>

    <img class="rounded mx-auto d-block" th:src="@{/IMGs/moziterem.jpg}">

</div>
</body>
</html>