<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Regisztárció</title>

  <style th:replace="/Shared/cssInclude"></style>
</head>
<body>

<script th:replace="/Shared/jsInclude"></script>

<header><nav th:insert="/Shared/navbar :: header"></nav></header>
<div id="content">
  <h1> Regisztáció </h1>
  <form action="#" th:action="@{register}" th:object="${user}" method="post" >
    <input  class="form-control" type="email" th:field="*{email}" placeholder="Email"><br>
    <input  class="form-control" type="text" th:field="*{name}" placeholder="Felhasználónév"><br>
    <input class="form-control" type="password" th:field="*{pass}" placeholder="Jelszó"><br>
    <input class="form-control" type="submit" value="Regisztráció"><br>
  </form>



</div>
</body>
</html>