<nav th:fragment="header" class="navbar navbar-expand-lg bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">

    <a class="navbar-brand" href="/"><img th:src="@{/IMGs/film-solid.svg}" width="30" height="30" alt=""> Mozi műsor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <button class="btn btn-lite" th:if="${CurrentUser}" th:text="${CurrentUser.getName()}">

        </button>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <a href="/login" th:if="!${CurrentUser}" ><button type="button" class="btn btn-primary">Login</button></a>
      <a href="/logout" th:if="${CurrentUser}" ><button type="button" class="btn btn-primary">Logout</button></a>
      <a href="/signup"  th:if="!${CurrentUser}"><button type="button" class="btn btn-secondary">Sign Up</button></a>
    </div>
  </div>
</nav>
